/**
 * ButtonGroup Styles
 */
.px-btn-group {
  display: inline-flex;
}

.px-btn-group > .px-btn {
  border-radius: 0;
}

.px-btn-group > .px-btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.px-btn-group > .px-btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.px-btn-group > .px-btn + .px-btn {
  margin-left: -1px;
}

.px-btn-group-vertical {
  flex-direction: column;
}

.px-btn-group-vertical > .px-btn {
  border-radius: 0;
}

.px-btn-group-vertical > .px-btn:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
}

.px-btn-group-vertical > .px-btn:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 0;
}

.px-btn-group-vertical > .px-btn + .px-btn {
  margin-left: 0;
  margin-top: -1px;
}

.px-btn-group-justified {
  display: flex;
  width: 100%;
}

.px-btn-group-justified > .px-btn {
  flex: 1;
}
